// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$blue-gray: #5885AF;
$midnight-blue: #41729F;
$light-gray: #f0f2f5;
