<% @my_properties.each do |property| %>
  <h4> <%= property.title %> </h4>
  <% property.bookings.each do |booking| %>
    <p> Renter: </p>
    <p> contact </p>
    <p> Paid: <%= booking.price %> </p>
    <hr>
  <% end %>
<% end %>
