<% @bookings.each do |booking| %>
  <h3> <%= booking.property.title %> </h3>
  <p> From <%= booking.start_date %> to <%= booking.end_date %> </p>
  <p> Price: <%= booking.price %> </p>
  <p> Owner: </p>
  <p> Contact: </p>
  <hr>
<% end %>
