.card {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
  background-color: white;
  }

  h4 {
    color: #5885af;
    text-align: center;
  }

  p {
    color: grey;
  }

.card-img-top {
  border-radius: 10px 10px 0 0;
}

.card-body {
  padding: 16px 16px;
  text-align: center;
}

.card-description {
  font-size: 16px;
  color: grey;
  text-align: center;
}

.card-text {
  color: grey;
}

.card-review {
  padding:8px;
  width:600px;
  background: white;
}

.card-my-property-list {
  padding:8px;
  width: 100%;
  background: white;
}

.card-my-property-list .card-product {
  width: 90%;
}

.card-review .card-product {
  width: 550px
}

.card-product-infos.card-booking .btn {
  position: relative;
  margin-top: 20px;
  margin-bottom: 0;
  width: 150px;
}




